body {
    padding: 20px;
}

.output {
    margin-top: 20px;
}

  .card {
    margin-bottom: 20px;
  }

  .meal-card {
    margin-bottom: 20px;
  }

  .container,h1 {
    text-align: center;
    size: 20px;
    padding: 20px;
  }

  .Personajes.container {
    margin: 300px;
    padding: 20px;
    text-align: center;
    size: 20px;
    padding: 20px;
  }

  .meals.container {
    margin: 300px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    size: 20px;
    padding: 20px;
  }